@import url(https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap);

$font-didactgothic: 'Didact Gothic', sans-serif;

$main-color: #b40d0d;
$secondary-color: #ffffff;

$background-color: #000000;